body {
	background: #fbf9fb;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

header h1 img {
	display: block;
	margin: 0 auto;
}

nav {
	margin-top: 40px;
}

nav ul li a {
	color: #666;
	text-transform: uppercase;
	padding: 0 10px;
	font-weight: 300;
	font-size: 16px;
}

/*reset*/
header .navbar-default .navbar-nav>.active>a,
header .navbar-default,
header .navbar-default .navbar-collapse,
header .navbar-default .navbar-nav>.active>a:hover {
	background: none;
	border: 0;
}

header .navbar-default .navbar-nav>.active>a,
header .navbar-default .navbar-nav>li>a:hover {
	color: #567653;
}
/*

nav ul li {
	text-align: center;
}

nav ul li a:hover {
	color: #999;
	text-decoration: none;
}*/