body {
	background: #fbf9fb;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

header h1 img {
	display: block;
	margin: 0 auto;
}

nav {
	margin-top: 40px;
}

nav ul li a {
	color: #666;
	padding: 0 10px;
	font-weight: 300;
	font-size: 16px;
    letter-spacing: 7px;
}

/*reset*/
header .navbar-default .navbar-nav>.active>a,
header .navbar-default,
header .navbar-default .navbar-collapse,
header .navbar-default .navbar-nav>.active>a:hover {
	background: none;
	border: 0;
}

header .navbar-fixed-top {
	background: #fbf9fb;
	margin: 0;
}

header .navbar-fixed-top ul {
	margin-left: 70px;
}

header .navbar-default .navbar-nav>.active>a,
header .navbar-default .navbar-nav>li>a:hover {
	color: #567653;
}

header .navbar-nav > li {
	text-transform: uppercase;
    line-height: 1.2em;
    margin-right: 10px;
}

footer {
	margin-bottom: 30px;
}

footer ul li a i {
	color: #666;
}

footer ul li a {
	font-size: 42px;
	color: #666;
}

footer .copyright {
	text-align: right;	
	padding-right: 35px;
	line-height: 55px;
}

footer .copyright a {
	color: #666;	
}

footer .copyright a:hover {
	text-decoration: none;
}